{% extends 'root.html' %}

{% block title %}
  Register
{% endblock %}

{% block doc %}
  <section class="h-80 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
                  <form method="post" action="{% url 'user:register' %}">
                    <p>لطفا اطلاعات خود را وارد کنید</p>

                    {% for field in form %}
                      <label for="field">{{ field.label }} : {{ field.help_text }}</label>

                      <p>{{ field }}</p>
                    {% endfor %}

                    {% csrf_token %}

                    <div class="text-center d-grid pt-1 mb-5 pb-1">
                      <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit" value="submit">ثبت نام</button>
                    </div>

                    <div class="d-flex align-items-center justify-content-center pb-4">
                      <p class="mb-0 me-2">اگر پیش از این حساب کاربری دارید</p>
                      <a class="text-muted" href="{% url 'user:login' %}">وارد شوید</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
